In [2]:
!pip install PuLP

Collecting PuLP
  Downloading PuLP-2.6.0-py3-none-any.whl (14.2 MB)
     --------------------------------------- 14.2/14.2 MB 78.9 kB/s eta 0:00:00
Installing collected packages: PuLP
Successfully installed PuLP-2.6.0

In [1]:
from pulp import *

In [53]:
prob = LpProblem("maximize", LpMaximize)

In [54]:
x = LpVariable("toyA",0,None)

In [55]:
x2 =  LpVariable("toyB",0,None)

In [56]:
prob += 25*x +20*x2, "maximize the profit"

In [57]:
prob += 5*x +5*x2 <= 540 ,"time"

In [58]:
prob += 20*x+12*x2 <= 2000 ,"max no of units"

In [59]:
prob.writeLP("toys.lp")

[toyA, toyB]

In [60]:
prob.solve()

1

In [61]:
print("status:", LpStatus[prob.status])

status: Optimal

In [62]:
for v in prob.variables():
    print(v.name, "=", v.varValue)

toyA = 88.0
toyB = 20.0

In [63]:
print("Total toys that can be produced = ",value(prob.objective))

Total toys that can be produced =  2600.0

## problem- 2-1

In [2]:
def initialize():
    prob = LpProblem("ListVisit_1", LpMaximize)
    TE = LpVariable("TE",0,1,LpInteger)
    ML =  LpVariable("ML",0,1,LpInteger)
    AT =  LpVariable("AT",0,1,LpInteger)
    MO =  LpVariable("MO",0,1,LpInteger)
    JT =  LpVariable("JT",0,1,LpInteger)
    CA =  LpVariable("CA",0,1,LpInteger)
    CP =  LpVariable("CP",0,1,LpInteger)
    CN =  LpVariable("CN",0,1,LpInteger)
    BS =  LpVariable("BS",0,1,LpInteger)
    SC =  LpVariable("SC",0,1,LpInteger)
    PC =  LpVariable("PC",0,1,LpInteger)
    TM =  LpVariable("TM",0,1,LpInteger)
    AC =  LpVariable("AC",0,1,LpInteger)
    
    return prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC

In [3]:
def eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC):
    prob += TE + ML + AT +MO + JT +CA +CP+CN+BS+SC+PC+TM+AC
    prob += 9/2*TE + 3*ML + AT +2*MO + 3/2*JT +2*CA +5/2*CP+2*CN+2*BS+3/2*SC+3/4*PC+2*TM+3/2*AC <= 12
    prob += 15.50*TE + 12*ML + 9.50*AT +11*MO + 0*JT +10*CA +10*CP+5*CN+8*BS+ 8.50*SC+ 0*PC+ 15*TM+ 0*AC <= 65

    return prob

In [4]:
def solve(name, prob):
    prob.writeLP(name)
    prob.solve()
    print("status:", LpStatus[prob.status])
    l = {}
    for v in prob.variables():
    #print(v.name, "=", v.varValue)
        l[v.name] = v.varValue
    print("Total places visited = ",value(prob.objective))
    return l

In [5]:
prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

#JT.lowBound = 1 
#prob += JT>=1, "changing lowerbound of JT"
prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
solve("levist.lp",prob)

status: Optimal
Total places visited =  7.0

{'AC': 1.0,
 'AT': 1.0,
 'BS': 1.0,
 'CA': 1.0,
 'CN': 1.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 1.0,
 'TE': 0.0,
 'TM': 0.0}

## problem 2-2

## 2-2 - a

In [6]:
import pandas as pd

In [7]:
excel = pd.read_excel('sites_matrix.xlsx',header = None)
df = pd.DataFrame(excel)

In [8]:
df

       0    1    2    3    4    5    6    7     8    9    10   11   12   13
0   sites   TE   ML   AT   MO   JT   CA   CP    CN   BS   SC   PC   TM   AC
1      TE    0  3.8  2.1  2.4  3.5  4.2    5   4.4  5.5  4.2  2.5  3.1  1.9
2      ML  NaN    0  3.8  1.1  1.3  3.3  1.3   1.1  3.4  0.8  1.7  2.5  2.8
3      AT  NaN  NaN    0  3.1    3  5.8  4.8   4.9  4.3  4.6  2.2  4.4    1
4      MO  NaN  NaN  NaN    0  0.9  3.1  2.5     2  3.9  1.8    1  2.3  2.1
5      JT  NaN  NaN  NaN  NaN    0  4.2    2   2.4  2.7    2    1  3.4  2.1
6      CA  NaN  NaN  NaN  NaN  NaN    0  3.5   2.7  6.5  2.6  2.8  1.3  4.9
7      CP  NaN  NaN  NaN  NaN  NaN  NaN    0  0.85  3.7  0.9  2.7  3.4  3.8
8      CN  NaN  NaN  NaN  NaN  NaN  NaN  NaN     0  4.5  0.4  2.8  2.7  3.9
9      BS  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN    0  4.2  3.3  5.7  3.8
10     SC  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN    0  2.5  2.6  3.6
11     PC  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN    0    3  1.2
12     TM  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN    0  2.1
13     AC  NaN  NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN    0

In [32]:

def pref_1(df,prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC):
    for i in range(1,len(df)):
        for j in range(i+1, len(df)):
            
            if df.iloc[i,j] <= 1: # distance b/w within one kilometer
                #print(df.iloc[i,j],"i  ",i," j ",j)
                #print(df.iloc[0,i],df.iloc[j,0] )
              
                if str(df.iloc[0,i]) == str(ML) and str(df.iloc[j,0]) == str(SC):
                    prob += ML == SC, "ML, SC "
                   
                    
                elif str(df.iloc[0,i]) == str(AT) and str(df.iloc[j,0]) == str(AC):
                    prob += AT == AC, " AT, AC "
                    
                    
                elif str(df.iloc[0,i]) == str(MO) and str(df.iloc[j,0]) == str(JT):
                    prob += MO == JT, " MO, JT "
                    
                    
                elif str(df.iloc[0,i]) == str(MO) and str(df.iloc[j,0]) == str(PC):
                    prob += MO == PC, " MO, PC"
                    
                
                    
                elif str(df.iloc[0,i]) == str(CP) and str(df.iloc[j,0]) == str(CN):
                    prob += CP == CN, " CP, CN"
                    
                    
                   
                elif str(df.iloc[0,i]) == str(CP) and str(df.iloc[j,0]) == str(SC):
                    prob += CP == SC ," CP, SC"
                    
                   
                    
                elif str(df.iloc[0,i]) == str(CN) and str(df.iloc[j,0]) == str(SC):
                    prob += CN == SC, "CN, SC"
                    
                    
                    
                #print(df.iloc[0,i], "yes",CN)
                #df.iloc[0,i].lowBound = 1  #LpVariable(str(df.iloc[0,i]),1,1,LpInteger)
                #ML SC, MO JT, CP CN, CP SC, CN SC
                #df.iloc[j,0].lowBound = 1 
                #prob += df.iloc[0,i] == df.iloc[j,0]
    return prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC
                #print(df.iloc[0,i]) # head
                #print(df.iloc[i,0]) # col

In [33]:
def preference_1():
    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC= pref_1(df,prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)

    prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
    return solve("pref1.lp",prob)

In [34]:
def pref_2(TE,CA):
    TE.lowBound = 1 
    CA.lowBound = 1 
    return TE,CA

In [35]:
def preference_2():
    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

    TE,CA = pref_2(TE,CA)
   
    prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
    return solve("pref2.lp",prob)

In [21]:
def pref_3(prob,CN,SC):
    prob += CN-SC >= 1
    
    return prob

In [22]:
def preference_3():
    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

    prob = pref_3(prob,CN,SC)
    
    prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
    return solve("pref2.lp",prob)

In [592]:
preference_3()

status: Optimal
Total places visited =  7.0

{'AC': 1.0,
 'AT': 1.0,
 'BS': 1.0,
 'CA': 1.0,
 'CN': 1.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 1.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

In [36]:
def pref_4(TM):
    TM.lowBound = 1
    return TM

In [37]:
def preference_4():
    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

    TM = pref_4(TM)

    prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
    return solve("pref4.lp",prob)

In [29]:
def pref_5(prob,ML,CP):
    prob += ML-CP <= 0
    
    return prob

In [30]:
def preference_5():
    prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC = initialize()

    prob = pref_5(prob,ML,CP)
    
    prob = eq(prob,TE, ML, AT, MO, JT, CA, CP, CN,BS,SC,PC,TM, AC)
    return solve("pref2.lp",prob)

In [31]:
preference_5()

status: Optimal
Total places visited =  7.0

{'AC': 1.0,
 'AT': 1.0,
 'BS': 1.0,
 'CA': 1.0,
 'CN': 1.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 1.0,
 'TE': 0.0,
 'TM': 0.0}

In [38]:
p1 = preference_1()
p2 = preference_2()
p3 = preference_3()
p4 = preference_4()
p5 = preference_5()

status: Optimal
Total places visited =  7.0
status: Optimal
Total places visited =  6.0
status: Optimal
Total places visited =  7.0
status: Optimal
Total places visited =  7.0
status: Optimal
Total places visited =  7.0

## 2-2b

In [46]:
{key : p1[key] * p2[key] for key in p1}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 1.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2c

In [47]:
{key : p1[key] * p3[key] for key in p1}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 1.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 1.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2d

In [48]:
{key : p1[key] * p4[key] for key in p1}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 0.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 1.0}

## 2-2e

In [49]:
{key : p2[key] * p5[key] for key in p2}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 1.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 1.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2f

In [50]:
{key : p3[key] * p4[key] for key in p3}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 1.0,
 'CA': 0.0,
 'CN': 1.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2g

In [51]:
{key : p4[key] * p5[key] for key in p4}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 1.0,
 'CA': 0.0,
 'CN': 1.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 1.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2h

In [52]:
{key : p1[key] * p2[key] * p4[key] for key in p1}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 0.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2i

In [54]:
{key : p2[key] * p3[key] * p5[key] for key in p2}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 1.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2j

In [55]:
{key : p2[key] * p3[key] * p4[key] * p5[key] for key in p2}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 0.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2k

In [56]:
{key : p1[key] * p2[key] * p4[key] * p5[key] for key in p2}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 0.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2l

In [57]:
{key : p1[key] * p2[key] * p3[key] * p4[key] for key in p1}

{'AC': 1.0,
 'AT': 1.0,
 'BS': 0.0,
 'CA': 0.0,
 'CN': 0.0,
 'CP': 0.0,
 'JT': 0.0,
 'ML': 0.0,
 'MO': 0.0,
 'PC': 1.0,
 'SC': 0.0,
 'TE': 0.0,
 'TM': 0.0}

## 2-2m

In [90]:
# yes

# 3

In [60]:
duration = {TE:9/2, ML:3, AT:1, MO: 2, JT:3/2, CA:2, CP:5/2, CN:2, BS:2, SC:3/2, 
PC:3/4,TM:2,AC:3/2}

In [66]:
ranking = {TE:5, ML:4, AT:3, MO: 2, JT:3, CA:4, CP:1, CN:5, BS:4, SC:1, 
PC:3,TM:2,AC:5}

In [69]:
price = {TE:15.5, ML:12, AT:9.5, MO: 11, JT:0, CA:10, CP:10, CN:5, BS:8, SC:8.5, 
PC:0,TM:15,AC:0}

## 3-a

In [72]:
d = dict(sorted(duration.items(), key=lambda item: item[1]))
#dict(sorted(duration.items(), key=lambda item: item[1],reverse=True))

## 3-b

In [74]:
#dict(sorted(ranking.items(), key=lambda item: item[1]))
r = dict(sorted(ranking.items(), key=lambda item: item[1],reverse=True))

## 3-c

In [75]:
p = dict(sorted(price.items(), key=lambda item: item[1]))
#dict(sorted(duration.items(), key=lambda item: item[1],reverse=True))

In [71]:
import scipy.stats as stats
# Calculates Kendall’s tau, a correlation measure for ordinal data.

# Kendall’s tau is a measure of the correspondence between two rankings. Values close to 1 indicate strong agreement, values close to -1 indicate strong disagreement. This is the tau-b version of Kendall’s tau which accounts for ties.

In [84]:
tau, p_value = stats.kendalltau(list(price.values()), list(ranking.values()))

In [85]:
tau

-0.08521145659838941

In [86]:
tau, p_value = stats.kendalltau(list(duration.values()), list(price.values()))

In [87]:
tau

0.605587290764896

In [88]:
tau, p_value = stats.kendalltau(list(duration.values()), list(ranking.values()))

In [89]:
tau

0.1515325460564539