In [156]:
from math import isnan,sqrt

In [311]:
import pandas as pd
import math
import numpy as np

In [2]:
excel = pd.read_excel('matrix3.xlsx',header = None)
df = pd.DataFrame(excel)

In [3]:
df

                  0     1       2     3         4       5      6
0               NaN  Lady  Snakes  Luck  Superman  Dupree  Night
1         Lisa Rosa   2.5     3.5     3       3.5     2.5      3
2      Gene Seymour     3     3.5   1.5         5     3.5      3
3  Micheal Phillips   2.5       3   NaN       3.5     NaN      4
4      Claudia Puig   NaN     3.5     3         4     2.5    4.5
5      Mick Lasalle     3       4     2         3       2      3
6     Jack Matthews     3       4   NaN         5     3.5      3
7              Toby   NaN     4.5   NaN         4       1    NaN
8              Anne   1.5     NaN     4       NaN       2    NaN

## 1

In [4]:
def dict(df):
    d1 = {}
    for i in range(1,len(df.axes[0])):    
    
        #print(df.iloc[i,0])
        d2 = {}
        for j in range(1, len(df.axes[1])):
            d2[df.iloc[0,j]] = df.iloc[i,j]
            #print(df.iloc[0,j])
        
        d1[df.iloc[i,0]] = d2
    return d1

In [5]:
critiques = dict(df)

## 2

In [23]:
def sim_distanceManhattan(person1, person2):
    s = 0
    for i in person1.keys(): 
        #print(person1[i])
        
        if math.isnan(person1[i]) or math.isnan(person2[i]):
            #print("--------",math.isnan(person1[i]))
            next 
        else:
            s += abs(person1[i]-person2[i])
            #print(s)
    return s

In [24]:
sim_distanceManhattan(critiques['Anne'], critiques['Lisa Rosa'])

2.5

In [87]:
def sim_distanceEuclidienne(person1, person2):
    s = 0
    for i in person1.keys(): 
        #print(person1[i])
        
        if isnan(person1[i]) or math.isnan(person2[i]):
            #print("--------",math.isnan(person1[i]))
            next 
        else:
            s += ((person1[i]-person2[i])**2)
            #print(s)
    return math.sqrt(s)

In [88]:
sim_distanceEuclidienne(critiques['Lisa Rosa'],critiques['Gene Seymour'])

2.3979157616563596

In [221]:
def computeNearestNeighbor(new_person, df):
    similarity_list = []
    for i in df.keys():
        distance=sim_distanceManhattan(new_person, df[i])
#         print(new_person, df[i],"---------------",distance)
        similarity_list.append((distance,i))
        
    similarity_list.sort()
    return similarity_list[1:]

In [222]:
computeNearestNeighbor(critiques['Anne'], critiques)

[(1.0, 'Micheal Phillips'),
 (1, 'Toby'),
 (1.5, 'Claudia Puig'),
 (2.5, 'Lisa Rosa'),
 (3.0, 'Jack Matthews'),
 (3.5, 'Mick Lasalle'),
 (5.5, 'Gene Seymour')]

In [97]:
def recommendNearestNeighbor(new_person, df):
    li=computeNearestNeighbor(new_person, df)
    my_dict = critiques[li[0][1]]
    clean_dict = {k: my_dict[k] for k in my_dict if not isnan(my_dict[k])}

#     print(li)
    return clean_dict

In [98]:
recommendNearestNeighbor(critiques['Toby'],critiques)

{'Lady': 1.5, 'Luck': 4, 'Dupree': 2}

## 1- c (best recommend movie)

In [262]:
def BestRecommend(new_person, di,movies,model):
    list_score = ()
    final = 0
    li=model(new_person, di)
    for movie in movies:
        total = 0
        s = 0
        for i in li:  #i = (1.0, 'Micheal Phillips')   i[1]= 'Micheal Phillips'
            movie_rate = di[i[1]][movie]
            if not isnan(movie_rate):
            
                total += movie_rate/(1+i[0])  # i[0] =similarity distance
                s += 1/(1+i[0])
            
                #print(di[i[1]][movie])
        final_s = total/s
        #print(final_s,final)
    
        if final< final_s:
            final = final_s
            list_score = (movie, total/s)
    
    return list_score

In [294]:
def get_unwatched_movies(my_dict):
#my_dict = critiques['Anne']
    return {k for k in my_dict if isnan(my_dict[k])}  # getting list of movies anne didnot watch

In [296]:
movies = get_unwatched_movies(critiques['Anne'])

In [265]:
BestRecommend(critiques['Anne'], critiques,movies,computeNearestNeighbor)

('Superman', 3.9086275648981967)

## 1-d (pearson )

In [157]:
def pearson(person1,person2):
    sum_xy = 0
    sum_x = 0
    sum_y = 0
    sum_x2 = 0
    sum_y2 = 0
    n = 0
    for i in person1.keys(): 
        if math.isnan(person1[i]) or math.isnan(person2[i]):
            #print("--------",math.isnan(person1[i]))
            next 
        else:
            n += 1
            x = person1[i]
            y = person2[i]
            sum_xy += x*y
            sum_x += x
            sum_y += y
            sum_x2 += x**2
            sum_y2 += y**2
    denominator = sqrt(sum_x2 - (sum_x**2)/n) * sqrt(sum_y2- (sum_y**2)/n)
    if denominator == 0:
        return 0
    else:
        return (sum_xy - (sum_x * sum_y ) /n) / denominator

In [158]:
pearson(critiques['Lisa Rosa'],critiques['Gene Seymour'])

0.39605901719066977

In [210]:
# def takefirst(elem):
#     return elem[0]

In [273]:
def computeNearestNeighbor_movies(new_person, df):
    similarity_list = []
    
    #print(new_person,df)
    for i in df.keys():
        distance=pearson(new_person, df[i])
        #print(i,"-----",distance)
#         print(new_person, df[i],"---------------",distance)
        similarity_list.append((distance,i))
        #print(similarity_list)  
    
    return sorted(similarity_list,reverse = True)[1:]

In [274]:
computeNearestNeighbor_movies(critiques['Anne'],critiques)
#def PearsonRecomend(person1, di):

[(0.9999999999999998, 'Jack Matthews'),
 (0.9999999999999998, 'Claudia Puig'),
 (0.9819805060619622, 'Lisa Rosa'),
 (0, 'Toby'),
 (0, 'Micheal Phillips'),
 (-0.6546536707079765, 'Mick Lasalle'),
 (-0.9078412990032034, 'Gene Seymour')]

In [275]:
def BestRecommend(new_person, di,movies,model):
    list_score = ()
    final = 0
    li=model(new_person, di)
    for movie in movies:
        total = 0
        s = 0
        for i in li:  #i = (1.0, 'Micheal Phillips')   i[1]= 'Micheal Phillips'
            movie_rate = di[i[1]][movie]
            if not isnan(movie_rate):
            
                total += movie_rate/(1+i[0])  # i[0] =similarity distance
                s += 1/(1+i[0])
            
                #print(di[i[1]][movie])
        final_s = total/s
        #print(final_s,final)
    
        if final< final_s:
            final = final_s
            list_score = (movie, total/s)
    
    return list_score

In [276]:
BestRecommend(critiques['Anne'], critiques,movies,computeNearestNeighbor_movies)

('Superman', 4.446519851865466)

## 1-e (cosine similarity)

In [283]:
def cosine_similarity(person1,person2):
    sumxx, sumxy, sumyy = 0, 0, 0
    "compute cosine similarity of v1 to v2: (v1 dot v2)/{||v1||*||v2||)"
    for i in person1.keys(): 
        if math.isnan(person1[i]) or math.isnan(person2[i]):
            #print("--------",math.isnan(person1[i]))
            next 
        else:
    
            x = person1[i]; y = person2[i]
            sumxx += x*x
            sumyy += y*y
            sumxy += x*y
            
    return sumxy/(math.sqrt(sumxx)*math.sqrt(sumyy))

In [284]:
cosine_similarity(critiques['Lisa Rosa'],critiques['Gene Seymour'])

0.9606463013980241

In [289]:
def computeNearestNeighbor_movies_cosine(new_person, df):
    similarity_list = []
    
    #print(new_person,df)
    for i in df.keys():
        distance=cosine_similarity(new_person, df[i])
        #print(i,"-----",distance)
#         print(new_person, df[i],"---------------",distance)
        similarity_list.append((distance,i))
        #print(similarity_list)  
    
    return sorted(similarity_list,reverse = True)[1:]

In [290]:
computeNearestNeighbor_movies_cosine(critiques['Anne'],critiques)

[(1.0, 'Toby'),
 (1.0, 'Micheal Phillips'),
 (0.9978801059658184, 'Jack Matthews'),
 (0.973417168333576, 'Claudia Puig'),
 (0.9487108412240661, 'Lisa Rosa'),
 (0.8483879196029503, 'Mick Lasalle'),
 (0.7653130340994871, 'Gene Seymour')]

In [291]:
BestRecommend(critiques['Anne'], critiques,movies,computeNearestNeighbor_movies_cosine)

('Superman', 4.0053503123050636)

## 3 new matrix

In [314]:
dict_song = {
    'Angelica':{'Blues Traveler':3.5, 'Broken Bells':2 , 'Deadmau':np.nan , 'Norah Jones':4.5 ,'Phoenix':5,'Sightly Stoopid':1.5, 'The Strokes':2.5 ,'Vampire Weekend':2},
    'Bill':{'Blues Traveler':2, 'Broken Bells':3.5 , 'Deadmau':4 , 'Norah Jones':np.nan, 'Phoenix':2,'Sightly Stoopid':3.5, 'The Strokes':np.nan ,'Vampire Weekend':3},
    'Chan':{'Blues Traveler':5, 'Broken Bells':1 , 'Deadmau':1 , 'Norah Jones':3, 'Phoenix':5,'Sightly Stoopid':1, 'The Strokes':np.nan ,'Vampire Weekend':np.nan},
    'Dan':{'Blues Traveler':3, 'Broken Bells':4 , 'Deadmau':4.5 , 'Norah Jones':np.nan, 'Phoenix':3,'Sightly Stoopid':4.5, 'The Strokes': 4,'Vampire Weekend':2},
    'Hailey':{'Blues Traveler':np.nan, 'Broken Bells':4 , 'Deadmau':1 , 'Norah Jones':4, 'Phoenix':np.nan,'Sightly Stoopid':np.nan, 'The Strokes':4 ,'Vampire Weekend':1},
    'Jordyn':{'Blues Traveler':np.nan, 'Broken Bells':4.5 , 'Deadmau':4 , 'Norah Jones':5, 'Phoenix':5,'Sightly Stoopid':4.5, 'The Strokes':4 ,'Vampire Weekend':4},
    'Sam':{'Blues Traveler':5, 'Broken Bells':2 , 'Deadmau':np.nan , 'Norah Jones':3, 'Phoenix':5,'Sightly Stoopid':4, 'The Strokes':5 ,'Vampire Weekend':np.nan},
    'Veronica':{'Blues Traveler':3, 'Broken Bells': np.nan, 'Deadmau':np.nan , 'Norah Jones':5, 'Phoenix':4,'Sightly Stoopid':2.5, 'The Strokes':3 ,'Vampire Weekend':np.nan}
}

In [318]:
movies_veronica = get_unwatched_movies(dict_song['Veronica'])
movies_Hailey = get_unwatched_movies(dict_song['Hailey'])

In [319]:
movies_veronica
movies_Hailey

{'Blues Traveler', 'Phoenix', 'Sightly Stoopid'}

### veronica

In [322]:
BestRecommend(dict_song['Veronica'], dict_song,movies_veronica,computeNearestNeighbor)

('Broken Bells', 3.2432885906040276)

In [323]:
BestRecommend(dict_song['Veronica'], dict_song,movies_veronica,computeNearestNeighbor_movies)

('Deadmau', 3.679955010191387)

In [324]:
BestRecommend(dict_song['Veronica'], dict_song,movies_veronica,computeNearestNeighbor_movies_cosine)

('Broken Bells', 2.990824665013164)

## Broken Bells for Veronica

### Hailey

In [325]:
BestRecommend(dict_song['Hailey'], dict_song,movies_veronica,computeNearestNeighbor)

('Deadmau', 3.220753053771565)

In [326]:
BestRecommend(dict_song['Hailey'], dict_song,movies_veronica,computeNearestNeighbor_movies)

('Deadmau', 3.4542803501238524)

In [327]:
BestRecommend(dict_song['Hailey'], dict_song,movies_veronica,computeNearestNeighbor_movies_cosine)

('Deadmau', 3.3824257277265937)

## Deadmau for Hailey

## 4 - own example

In [343]:
from random import randrange, randint
def function(n):
    mydict1 = {}
    for i in range(1,n+1):
        mydict = {'movie'+str(i):randint(0,5) for i in range(n+2)}
        mydict1['person'+str(i)] = mydict
            
    
    return mydict1

print(function(10))

{'person1': {'movie0': 5, 'movie1': 3, 'movie2': 2, 'movie3': 3, 'movie4': 2, 'movie5': 2, 'movie6': 0, 'movie7': 5, 'movie8': 0, 'movie9': 0, 'movie10': 4, 'movie11': 5}, 'person2': {'movie0': 3, 'movie1': 0, 'movie2': 3, 'movie3': 2, 'movie4': 3, 'movie5': 5, 'movie6': 3, 'movie7': 3, 'movie8': 0, 'movie9': 4, 'movie10': 4, 'movie11': 0}, 'person3': {'movie0': 5, 'movie1': 4, 'movie2': 0, 'movie3': 1, 'movie4': 2, 'movie5': 1, 'movie6': 2, 'movie7': 3, 'movie8': 0, 'movie9': 1, 'movie10': 2, 'movie11': 0}, 'person4': {'movie0': 2, 'movie1': 0, 'movie2': 5, 'movie3': 2, 'movie4': 2, 'movie5': 3, 'movie6': 2, 'movie7': 0, 'movie8': 1, 'movie9': 5, 'movie10': 5, 'movie11': 0}, 'person5': {'movie0': 2, 'movie1': 5, 'movie2': 2, 'movie3': 3, 'movie4': 0, 'movie5': 4, 'movie6': 0, 'movie7': 1, 'movie8': 5, 'movie9': 4, 'movie10': 0, 'movie11': 3}, 'person6': {'movie0': 1, 'movie1': 0, 'movie2': 4, 'movie3': 5, 'movie4': 0, 'movie5': 2, 'movie6': 2, 'movie7': 5, 'movie8': 1, 'movie9': 5, 'movie10': 3, 'movie11': 4}, 'person7': {'movie0': 4, 'movie1': 4, 'movie2': 5, 'movie3': 1, 'movie4': 5, 'movie5': 1, 'movie6': 1, 'movie7': 4, 'movie8': 0, 'movie9': 4, 'movie10': 4, 'movie11': 5}, 'person8': {'movie0': 0, 'movie1': 5, 'movie2': 1, 'movie3': 1, 'movie4': 2, 'movie5': 0, 'movie6': 5, 'movie7': 1, 'movie8': 5, 'movie9': 1, 'movie10': 4, 'movie11': 5}, 'person9': {'movie0': 4, 'movie1': 4, 'movie2': 4, 'movie3': 4, 'movie4': 1, 'movie5': 0, 'movie6': 1, 'movie7': 0, 'movie8': 5, 'movie9': 0, 'movie10': 3, 'movie11': 4}, 'person10': {'movie0': 3, 'movie1': 1, 'movie2': 2, 'movie3': 4, 'movie4': 2, 'movie5': 1, 'movie6': 2, 'movie7': 3, 'movie8': 4, 'movie9': 2, 'movie10': 4, 'movie11': 0}}

In [346]:
random_dict = {'person1': {'movie0': 5, 'movie1': 3, 'movie2': 2, 'movie3': np.nan, 'movie4': 2, 'movie5': 2, 'movie6': np.nan, 'movie7': np.nan, 'movie8': np.nan, 'movie9': np.nan, 'movie10': 4, 'movie11': 5}, 'person2': {'movie0': 3, 'movie1': np.nan, 'movie2': 3, 'movie3': 2, 'movie4': np.nan, 'movie5': 5, 'movie6': 3, 'movie7': 3, 'movie8': np.nan, 'movie9': 4, 'movie10': 4, 'movie11': np.nan}, 'person3': {'movie0': 5, 'movie1': 4, 'movie2': np.nan, 'movie3': 1, 'movie4': 2, 'movie5': np.nan, 'movie6': 2, 'movie7': 3, 'movie8': np.nan, 'movie9': 1, 'movie10': 2, 'movie11': np.nan}, 'person4': {'movie0': 2, 'movie1': np.nan, 'movie2': 5, 'movie3': 2, 'movie4': np.nan, 'movie5': 3, 'movie6': 2, 'movie7': np.nan, 'movie8': 1, 'movie9': 5, 'movie10': 5, 'movie11': np.nan}, 'person5': {'movie0': 2, 'movie1': 5, 'movie2': 2, 'movie3': np.nan, 'movie4': np.nan, 'movie5': 4, 'movie6': np.nan, 'movie7': 1, 'movie8': 5, 'movie9': 4, 'movie10': np.nan, 'movie11': 3}, 'person6': {'movie0': 1, 'movie1': np.nan, 'movie2': 4, 'movie3': 5, 'movie4': np.nan, 'movie5': 2, 'movie6': np.nan, 'movie7': 5, 'movie8': np.nan, 'movie9': 5, 'movie10': 3, 'movie11': 4}, 'person7': {'movie0': 4, 'movie1': np.nan, 'movie2': 5, 'movie3': 1, 'movie4': np.nan, 'movie5': 1, 'movie6': np.nan, 'movie7': 4, 'movie8': 0, 'movie9': 4, 'movie10': np.nan, 'movie11': 5}, 'person8': {'movie0': np.nan, 'movie1': 5, 'movie2': np.nan, 'movie3': 1, 'movie4': 2, 'movie5': np.nan, 'movie6': 5, 'movie7': np.nan, 'movie8': np.nan, 'movie9': 1, 'movie10': 4, 'movie11': 5}, 'person9': {'movie0': np.nan, 'movie1': 4, 'movie2': np.nan, 'movie3': 4, 'movie4': 1, 'movie5': np.nan, 'movie6': 1, 'movie7': np.nan, 'movie8': 5, 'movie9': np.nan, 'movie10': 3, 'movie11': 4}, 'person10': {'movie0': 3, 'movie1': np.nan, 'movie2': 2, 'movie3': np.nan, 'movie4': 2, 'movie5': 1, 'movie6': np.nan, 'movie7': 3, 'movie8': 4, 'movie9': np.nan, 'movie10': np.nan, 'movie11': np.nan}}

In [347]:
random_dict

{'person1': {'movie0': 5,
  'movie1': 3,
  'movie2': 2,
  'movie3': nan,
  'movie4': 2,
  'movie5': 2,
  'movie6': nan,
  'movie7': nan,
  'movie8': nan,
  'movie9': nan,
  'movie10': 4,
  'movie11': 5},
 'person2': {'movie0': 3,
  'movie1': nan,
  'movie2': 3,
  'movie3': 2,
  'movie4': nan,
  'movie5': 5,
  'movie6': 3,
  'movie7': 3,
  'movie8': nan,
  'movie9': 4,
  'movie10': 4,
  'movie11': nan},
 'person3': {'movie0': 5,
  'movie1': 4,
  'movie2': nan,
  'movie3': 1,
  'movie4': 2,
  'movie5': nan,
  'movie6': 2,
  'movie7': 3,
  'movie8': nan,
  'movie9': 1,
  'movie10': 2,
  'movie11': nan},
 'person4': {'movie0': 2,
  'movie1': nan,
  'movie2': 5,
  'movie3': 2,
  'movie4': nan,
  'movie5': 3,
  'movie6': 2,
  'movie7': nan,
  'movie8': 1,
  'movie9': 5,
  'movie10': 5,
  'movie11': nan},
 'person5': {'movie0': 2,
  'movie1': 5,
  'movie2': 2,
  'movie3': nan,
  'movie4': nan,
  'movie5': 4,
  'movie6': nan,
  'movie7': 1,
  'movie8': 5,
  'movie9': 4,
  'movie10': nan,
  'movie11': 3},
 'person6': {'movie0': 1,
  'movie1': nan,
  'movie2': 4,
  'movie3': 5,
  'movie4': nan,
  'movie5': 2,
  'movie6': nan,
  'movie7': 5,
  'movie8': nan,
  'movie9': 5,
  'movie10': 3,
  'movie11': 4},
 'person7': {'movie0': 4,
  'movie1': nan,
  'movie2': 5,
  'movie3': 1,
  'movie4': nan,
  'movie5': 1,
  'movie6': nan,
  'movie7': 4,
  'movie8': 0,
  'movie9': 4,
  'movie10': nan,
  'movie11': 5},
 'person8': {'movie0': nan,
  'movie1': 5,
  'movie2': nan,
  'movie3': 1,
  'movie4': 2,
  'movie5': nan,
  'movie6': 5,
  'movie7': nan,
  'movie8': nan,
  'movie9': 1,
  'movie10': 4,
  'movie11': 5},
 'person9': {'movie0': nan,
  'movie1': 4,
  'movie2': nan,
  'movie3': 4,
  'movie4': 1,
  'movie5': nan,
  'movie6': 1,
  'movie7': nan,
  'movie8': 5,
  'movie9': nan,
  'movie10': 3,
  'movie11': 4},
 'person10': {'movie0': 3,
  'movie1': nan,
  'movie2': 2,
  'movie3': nan,
  'movie4': 2,
  'movie5': 1,
  'movie6': nan,
  'movie7': 3,
  'movie8': 4,
  'movie9': nan,
  'movie10': nan,
  'movie11': nan}}

In [349]:
# movies not watched by person 10 
movies_person10 = get_unwatched_movies(random_dict['person10'])

In [350]:
movies_person10

{'movie1', 'movie10', 'movie11', 'movie3', 'movie6', 'movie9'}

In [351]:
BestRecommend(random_dict['person10'], random_dict,movies_person10,computeNearestNeighbor)  # manhattan

('movie11', 4.633620689655172)

In [352]:
BestRecommend(random_dict['person10'], random_dict,movies_person10,computeNearestNeighbor_movies)  # pearson

('movie1', 4.3878756726744435)

In [353]:
BestRecommend(random_dict['person10'], random_dict,movies_person10,computeNearestNeighbor_movies_cosine) #cosine

('movie11', 4.327583550035867)

## i would recommend "movie11" to person10